body {
    background-color: #7c77ff;
    color: #000000;
    font-family: "Arial", "FreeSans", "sans-serif", "Sans";
}

a {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}

#container {
    width: 100%;
}

#logo {
    border: 0px;
    width: 179px;
    height: 68px;
}

#menu {
    width: 185px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #7c77ff;
    color: #ffffff;
    font-weight: bold;
}
#menu a {
    text-decoration: none;
}
.menuitem {
    font-size: 20px;
}

#content {
    vertical-align: top;
    float: left;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 22px;
    padding: 20px;
}
#content h1 {
    text-align: center;
    font-family: "sans-serif";
}
#content a {
    color: #7070ff;
}
